.layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #dbc1f8 0%, #99b3fc 100%);
  position: relative;
}

.main-content {
  flex: 1;
  margin-left: 180px;
  padding: 20px 30px 20px 20px;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1;
  margin-top: 20px;
}
