.layout {
  display: flex;
  min-height: 100vh;
  background: fafbfc;
  position: relative;
}

.main-content {
  flex: 1;
  margin-left: 200px;
  padding: 20px 80px 20px 20px;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1;
  margin-top: 20px;
}
